[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access]
	inheritFrom = All-Non-CI-Playground-Projects
[project]
	description = Qt-based implementation of Object Management Group (OMG)’s Meta Object Facility (MOF) specification and derivatives\n\
\n\
ssh://codereview.qt-project.org:29418/playground/qtmof.git
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Qt MOF
	label-Sanity-Review = -2..+1 group Qt MOF
	submit = group Qt MOF
