[receive]
	requireContributorAgreement = true
	requireChangeId = true
	allowTopicReview = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
[access]
	inheritFrom = All-Non-CI-Playground-Projects
[project]
	description = Qt-based implementation of Object Management Group (OMG)’s Meta Object Facility (MOF) specification and derivatives\n\
\n\
ssh://codereview.qt-project.org:29418/playground/qtmof.git
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
